 .mainBanner{
   animation-name:tada;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

header{
  border-bottom:1px solid grey ;
} 
.Carlogo{
  width: 100px;
  height: 80px;
  padding:10px;
  
}

form input:hover{
  background-color: antiquewhite;
}

aside button{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;  
}
aside{
   border-right: 1px solid grey;
   text-align: center;
   padding:50px;
}

.stu{
  border-bottom: 5px solid rgb(20, 18, 18);
}

















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */